* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    font-size: 16px;
    justify-content: center;
}

.wrap {
    color: #000000;
    display: grid;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    grid-gap: 10px 35px;
    grid-template-areas: "header header" "profile article";
    grid-template-columns: 1fr 180px;
    grid-template-rows: 40px 1fr;
    margin-top: 1em;
}

header {
    grid-area: header;
}

header h1 {
    font-size: 1.58em;
    font-weight: 600;
}

.profile {
    grid-area: profile;
    margin-bottom: 1.5em;
    width: 550px;
}

form > div {
    background-image: url("../image/groovepaper.png"), linear-gradient(352deg, rgba(254, 233, 231, 1) 47%, rgba(255, 219, 219, 1) 70%, rgba(238, 212, 211, 1) 98%);
    display: grid;
    font-size: .718em;
    grid-auto-flow: row;
    grid-gap: 12px 25px;
    grid-template-columns: [labels] auto [controls] 1fr;
    padding: 2.3em 1.5em 2.7em;
    position: relative;
}

form .form-area:before {
    background: rgba(253, 218, 218, 1);
    bottom: 50%;
    -moz-box-shadow: -15px 18px 15px #f2c5c7;
    -webkit-box-shadow: -15px 18px 15px #f2c5c7;
    box-shadow: #f2c5c7 -15px 5px 15px;
    content: "";
    left: 9px;
    position: absolute;
    top: 15px;
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-5deg);
    width: 50%;
    z-index: -1;
}

form .form-area:after {
    background: rgba(253, 218, 218, 1);
    bottom: 50%;
    -moz-box-shadow: 15px 5px 8px #f2c5c7;
    -webkit-box-shadow: 15px 5px 8px;
    box-shadow: 15px 5px 15px #f2c5c7;
    content: "";
    position: absolute;
    right: 9px;
    top: 15px;
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(5deg);
    width: 50%;
    z-index: -1;
}

form > div > input, select, h2, p, label[for="check-surname"],
label[for="agree-to-fly"], button, span {
    grid-column: controls;
    grid-row: auto;
}

form div.form-area label {
    align-items: center;
    display: flex;
    width: 125px;
}

form > div > label {
    grid-column: labels;
    grid-row: auto;
    height: 23px;
}

label[for="check-surname"] {
    margin-top: -1em;
}

form div.form-area label[for="previous-surname"], .previous-surname {
    display: none;
}

form > div > input {
    border-top: .1em solid #7c7c7c;
    font-size: 1.3em;
    height: 18px;
    padding: 0 0.188em 0.135em;
    width: 250px;
}

form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input[type=number] {
    -moz-appearance: textfield;
}

form input[type="checkbox"] {
    margin-right: 0.214em;
}

form select {
    border: 0.075em solid #c1c1c1;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    height: 23px;
    overflow: hidden;
    padding: .125em;
    width: auto;
}

form p > select {
    margin-right: 0.23em;
}

form .dob {
    display: flex;
}

.dob-day {
    width: 40px;
}

.dob-month {
    width: 77px;
}

.dob-year {
    width: 52px;
}

.family-status {
    width: 145px;
}

.education {
    width: 130px;
}

.mid-name-rus, .name-latin, .education {
    margin-bottom: 1.05em;
}

.error-message {
    color: #ff0000;
    display: none;
}

.error-mid-name-rus {
    margin-top: -17px;
}

.error-name-latin {
    margin-top: -16px;
}

.error-education {
    margin-top: -11px;
}

form div.submit-area {
    background: rgb(213, 202, 216);
    background: linear-gradient(180deg, rgba(213, 202, 216, 1) 0%, rgba(171, 180, 207, 1) 100%);
    padding-left: 142px;
}

.submit-area label[for="agree-to-fly"] {
    display: flex;
    margin-top: 2px;
    white-space: pre-line;
}

@supports (-moz-appearance: none) {
    .submit-area input {
        margin-top: -12px;
    }
}

.submit-area button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.88em;
    font-weight: 600;
    height: 45px;
    margin: 8px 0 5px 0;
    text-align: center;
    text-decoration: none;
    width: 230px;
}

.submit-area .btn-grey {
    background: rgba(233, 233, 238, 1);
    background: -moz-linear-gradient(top, rgba(233, 233, 238, 1) 0%, rgba(233, 233, 238, 1) 36%, rgba(217, 217, 217, 1) 51%, rgba(214, 214, 214, 1) 61%, rgba(232, 233, 237, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(233, 233, 238, 1) 0%, rgba(233, 233, 238, 1) 36%, rgba(217, 217, 217, 1) 51%, rgba(214, 214, 214, 1) 61%, rgba(232, 233, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(233, 233, 238, 1) 0%, rgba(233, 233, 238, 1) 36%, rgba(217, 217, 217, 1) 51%, rgba(214, 214, 214, 1) 61%, rgba(232, 233, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(233, 233, 238, 1) 0%, rgba(233, 233, 238, 1) 36%, rgba(217, 217, 217, 1) 51%, rgba(214, 214, 214, 1) 61%, rgba(232, 233, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(233, 233, 238, 1) 0%, rgba(233, 233, 238, 1) 36%, rgba(217, 217, 217, 1) 51%, rgba(214, 214, 214, 1) 61%, rgba(232, 233, 237, 1) 100%);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-box-shadow: 0 5px 8px rgba(136, 139, 157, 0.88);
    -webkit-box-shadow: 0 5px 8px rgba(136, 139, 157, 0.88);
    box-shadow: 0 5px 5px rgba(136, 139, 157, 0.88);
    color: #a1a1a7;
    display: block;
    text-shadow: 0 1px 0 #ffffff;
}

.submit-area .btn-green {
    background: -moz-linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    background: -webkit-linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    background: -o-linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    background: -ms-linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    background: linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    -moz-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 0 5px 10px rgba(50, 50, 50, 0.75);
    color: #ffffff;
    display: none;
    transition: all .3s;
}

.submit-area .btn-green:hover {
    box-shadow: 0 15px 25px -5px rgba(50, 50, 50, 0.75);
    transform: scale(1.03);
}

.submit-area .btn-green:active {
    box-shadow: 0 4px 8px rgba(50, 50, 50, 0.75);
    transform: scale(.98);
}

.solar-eclipse {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    grid-area: article;
}

.solar-eclipse h5 {
    margin-bottom: 3px;
}

.solar-eclipse p {
    font-size: .718em;
    line-height: 1.4;
    white-space: pre-line;
}
