@media screen and (max-device-width: 320px) {
    .form-area h2 {
        font-size: 1.3em;
    }

    .submit-area button {
        font-size: 1.55em;
    }
}

@media screen and (max-device-width: 767px) {
    .wrap {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    header {
        font-size: .65em;
        margin: 2em 0 2em;
        text-align: center;
    }

    header h1 {
        font-size: 1.6em;
    }

    .profile {
        margin-bottom: 5em;
        width: 90vw;
    }

    form > div {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        padding: 2em 1em 2em;
    }

    form .form-area:before {
        left: 35px;
        transform: rotate(-3deg);
    }

    form .form-area:after {
        right: 35px;
        transform: rotate(3deg);
    }

    form div.form-area label {
        width: 50vw;
    }

    .form-area > label {
        margin-bottom: .5em;
    }

    .form-area > input {
        height: 45px;
        width: 78vw;
    }

    .changed-surname {
        height: 2em;
        margin-right: .5em;
        margin-top: -.5em;
        width: 1.7em;
    }

    .form-area select {
        height: 2.5em;
    }

    .form-area p > select {
        margin-right: .5em;
    }

    .form-area .education {
        width: fit-content;
    }

    .form-area > input, .form-area select, .form-area .mid-name-rus,
    .name-latin, .education, label[for="changed-surname"] {
        margin-bottom: 1.5em;
    }

    .form-area h2 {
        margin: 1em 0;
        width: 80vw;
    }

    form div.submit-area {
        padding: 1.5em;
    }

    .submit-area label[for="agree-to-fly"] {
        margin-top: .5em;
        white-space: normal;
    }

    .agree-to-fly {
        height: 1.7em;
        margin-right: .8em;
        width: 4.5em;
    }

    .submit-area button {
        height: 8vh;
        width: 78vw;
    }

    .submit-area .btn-grey {
        margin: 2.8em 0 0;
    }

    .submit-area .btn-green {
        margin: 1em 0 .5em;
    }

    .solar-eclipse {
        display: none;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .wrap {
        grid-gap: 15px 60px;
        grid-template-columns: 1fr 22vw;
        grid-template-rows: 5vh 1fr;
        margin-top: 2.8em;
    }

    header {
        font-size: 1.25em;
    }

    .profile {
        margin-bottom: 5em;
        width: 60vw;
    }

    .profile, .solar-eclipse {
        margin-top: 1em;
    }

    form > div {
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }

    form .form-area:before {
        left: 15px;
        transform: rotate(-3deg);
    }

    form .form-area:after {
        right: 15px;
        transform: rotate(3deg);
    }

    form div.form-area label {
        width: 40vw;
    }

    form > div > label {
        margin-bottom: .3em;
    }

    .form-area > input, .form-area select, .form-area .mid-name-rus,
    .name-latin, .education, form h2, label[for="changed-surname"] {
        margin-bottom: 1.2em;
    }

    form > div > input {
        height: 45px;
        width: 52vw;
    }

    .changed-surname {
        height: 20px;
        margin-right: .5em;
        width: 20px;
    }

    form select {
        height: 4.5vh;
    }

    form p > select {
        margin-right: .8em;
    }

    form div.submit-area {
        padding-left: 1.5em;
    }

    .submit-area label[for="agree-to-fly"] {
        white-space: normal;
    }

    .agree-to-fly {
        height: 21px;
        margin-right: .6em;
        width: 35px;
    }

    @supports (-moz-appearance: none) {
        .submit-area input {
            margin-top: -6px;
        }
    }

    .submit-area button {
        height: 2em;
        margin: 2em auto 0;
        width: 12em;
    }

    .submit-area .btn-green {
        margin-top: 1.2em;
    }

    .solar-eclipse h5 {
        font-size: .9em;
    }

    .solar-eclipse p {
        font-size: .8em;
    }
}

